Repository GoogleCloudPlatform/cloud-foundation-toolkit, changes with the owners that CODEOWNERS names for each.
All owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody, @sjvanrossum, @AlexBulankou, @maqiuyujoyce

CODEOWNERS:

# Main team administering overall repo
*           @bharathkkb @ocsig @kaariger @g-awmalik @apeabody

# Deployment Manager Reviewers
/dm/        @ocsig @sjvanrossum

# CLI owners
/cli/       @bharathkkb @kaariger @g-awmalik @apeabody

# Config Connector team
/config-connector/ @ocsig @AlexBulankou @maqiuyujoyce

indentation fix
  cli/bpmetadata/proto/bpmetadata.proto
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

indentation fix v2
  cli/bpmetadata/proto/bpmetadata_ui.proto
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

indentation fix v3
  cli/bpmetadata/proto/bpmetadata.proto
  cli/bpmetadata/proto/bpmetadata_ui.proto
  cli/bpmetadata/proto/bpmetadata_ui_ext.proto
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

nested types under blueprint metadata
  cli/bpmetadata/cmd.go
  cli/bpmetadata/schema/bpmetadataschema.json
  cli/bpmetadata/types.go
  cli/testdata/bpmetadata/schema/invalid-metadata-w-enum.yaml
  cli/testdata/bpmetadata/schema/invalid-metadata.yaml
  cli/testdata/bpmetadata/schema/valid-metadata-w-enum.yaml
  cli/testdata/bpmetadata/schema/valid-metadata.yaml
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

incremented cli to v1.0
  cli/Makefile
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

feat: adds protos for the bpmetadata schema (#1493)
  .gitignore
  cli/Makefile
  cli/bpmetadata/cmd.go
  cli/bpmetadata/proto/bpmetadata.proto
  cli/bpmetadata/proto/bpmetadata_ui.proto
  cli/bpmetadata/proto/bpmetadata_ui_ext.proto
  cli/bpmetadata/schema/bpmetadataschema.json
  cli/bpmetadata/types.go
  cli/bpmetadata/types_ui.go
  cli/bpmetadata/types_ui_ext.go
  cli/testdata/bpmetadata/schema/invalid-metadata-w-enum.yaml
  cli/testdata/bpmetadata/schema/invalid-metadata.yaml
  cli/testdata/bpmetadata/schema/valid-metadata-w-enum.yaml
  cli/testdata/bpmetadata/schema/valid-metadata.yaml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update dependency google-api-python-client to v2.86.0
  infra/utils/delete-projects/requirements.txt
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix: passes arg to gen_metadata and fixes the comparison (#1494)
  infra/build/Makefile
  infra/build/developer-tools/build/scripts/task_helper_functions.sh
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update terraform github to ~> 5.23.0
  infra/terraform/modules/repositories/versions.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix: updates annotation tag for author field
  cli/Makefile
  cli/bpmetadata/schema/bpmetadataschema.json
  cli/bpmetadata/types.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

added dir field and make display variable visible by default
  cli/bpmetadata/cmd.go
  cli/bpmetadata/display_test.go
  cli/bpmetadata/proto/bpmetadata_ui.proto
  cli/bpmetadata/repo.go
  cli/bpmetadata/repo_test.go
  cli/bpmetadata/schema/bpmetadataschema.json
  cli/bpmetadata/types.go
  cli/bpmetadata/types_ui.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

fix: updates annotation tag for author field (#1495)
  cli/Makefile
  cli/bpmetadata/cmd.go
  cli/bpmetadata/display_test.go
  cli/bpmetadata/proto/bpmetadata_ui.proto
  cli/bpmetadata/repo.go
  cli/bpmetadata/repo_test.go
  cli/bpmetadata/schema/bpmetadataschema.json
  cli/bpmetadata/types.go
  cli/bpmetadata/types_ui.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

fix: minor doc typo for bpmetadata
  cli/Makefile
  cli/bpmetadata/doc.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

fix dev user access
  infra/terraform/test-org/org-iam-policy/iam.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix: dev user access (#1497)
  infra/terraform/test-org/org-iam-policy/iam.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

export dir for metadata
  cli/bpmetadata/cmd.go
  cli/bpmetadata/types.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

regen schema
  cli/bpmetadata/schema/bpmetadataschema.json
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

fix: Export dir for metadata and regenerate schema (#1498)
  cli/bpmetadata/cmd.go
  cli/bpmetadata/schema/bpmetadataschema.json
  cli/bpmetadata/types.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

chore(deps): update dependency google-cloud-resource-manager to v1
  infra/utils/delete-projects/requirements.txt
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix: Change owner of ecommerce-microservices
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: add up-2.2 repository to the CFT framework
  infra/terraform/test-org/ci-triggers/locals.tf
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix: minor doc typo for bpmetadata (#1496)
  cli/Makefile
  cli/bpmetadata/doc.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

chore: fix lint errors
  LICENSE
  infra/terraform/test-org/ci-comment-build-trigger-function/function_source/main.py
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: lint cleanup
  LICENSE
  dm/CI/cft_base_contianer/cft_base_container
  infra/terraform/test-org/ci-comment-build-trigger-function/function_source/main.py
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody, @sjvanrossum

chore: lint cleanup (#1504)
  LICENSE
  dm/CI/cft_base_contianer/cft_base_container
  infra/terraform/test-org/ci-comment-build-trigger-function/function_source/main.py
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody, @sjvanrossum

chore: add owners as repo collaborators for CI
  infra/terraform/modules/repositories/main.tf
  infra/terraform/modules/team/main.tf
  infra/terraform/modules/team/outputs.tf
  infra/terraform/modules/team/variables.tf
  infra/terraform/modules/team/versions.tf
  infra/terraform/test-org/github/protection.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix: List individual members of dee-platform-ops
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: change group name to usernames
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat: adds metadata validation to lint tests
  infra/build/developer-tools/build/scripts/task_helper_functions.sh
  infra/build/developer-tools/build/scripts/test_lint.sh
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat: adds metadata validation to lint tests (#1509)
  infra/build/developer-tools/build/scripts/task_helper_functions.sh
  infra/build/developer-tools/build/scripts/test_lint.sh
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat: onboards two JSS repos for large data sharing webapps
  infra/terraform/test-org/ci-triggers/locals.tf
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

additional fixes
  infra/terraform/modules/repositories/main.tf
  infra/terraform/modules/repositories/variables.tf
  infra/terraform/modules/repositories/versions.tf
  infra/terraform/modules/team/main.tf
  infra/terraform/test-org/github/.terraform.lock.hcl
  infra/terraform/test-org/github/protection.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update versions.tf
  infra/terraform/modules/repositories/versions.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: add owners as repo collaborators for CI (#1503)
  infra/terraform/modules/repositories/main.tf
  infra/terraform/modules/team/main.tf
  infra/terraform/modules/team/outputs.tf
  infra/terraform/modules/team/variables.tf
  infra/terraform/modules/team/versions.tf
  infra/terraform/test-org/github/.terraform.lock.hcl
  infra/terraform/test-org/github/protection.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: add the terraform-example-java-dynamic-point-of-sale repo (#1502)
  infra/terraform/test-org/ci-triggers/locals.tf
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix: Change owner of ecommerce-microservices (#1501)
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: add lint.yaml
  .github/workflows/lint.yaml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update lint.yaml
  .github/workflows/lint.yaml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update lint.yaml
  .github/workflows/lint.yaml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Delete lint-infra-terraform.cloudbuild.yaml
  infra/cloudbuild/lint-infra-terraform.cloudbuild.yaml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody
