Repository GoogleCloudPlatform/cloud-foundation-toolkit, changes with the owners that CODEOWNERS names for each.
All owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody, @sjvanrossum, @AlexBulankou, @maqiuyujoyce

feat: add managed conventional-commit-lint.yaml
  infra/terraform/modules/branch_protection/main.tf
  infra/terraform/test-org/github/protection.tf
  infra/terraform/test-org/github/resources/conventional-commit-lint.yaml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: add managed conventional-commit-lint.yaml (#1327)
  infra/terraform/modules/branch_protection/main.tf
  infra/terraform/test-org/github/protection.tf
  infra/terraform/test-org/github/resources/conventional-commit-lint.yaml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix: updates approach for discovering mod/submods (#1301)
  cli/Makefile
  cli/bpmetadata/repo.go
  cli/bpmetadata/repo_test.go
  cli/util/git.go
  cli/util/git_test.go
  infra/build/developer-tools/build/scripts/task_helper_functions.sh
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody, @ocsig

chore: update toolings to conventionalcommits (#1324)
  .github/workflows/update-tooling.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix: gcrane update
  .github/workflows/update-tooling.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: gcrane update fix (#1329)
  .github/workflows/update-tooling.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: Update Tools to 1.10.4
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: Update Tools to 1.10.4 (#1320)
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Onboard WAAP blueprint
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat: adds tf formatting to module gen helper function
  infra/build/developer-tools/build/scripts/task_helper_functions.sh
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix: remove terraform plan file needed for the terraform vet execution after validation (#1321)
  infra/blueprint-test/pkg/tft/terraform.go
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat: centralize module repo configuration
  infra/terraform/modules/codeowners_file/main.tf
  infra/terraform/modules/repositories/main.tf
  infra/terraform/modules/repositories/outputs.tf
  infra/terraform/modules/repositories/variables.tf
  infra/terraform/modules/repositories/versions.tf
  infra/terraform/test-org/ci-triggers/.terraform.lock.hcl
  infra/terraform/test-org/github/.terraform.lock.hcl
  infra/terraform/test-org/github/backend.tf
  infra/terraform/test-org/github/labels.tf
  infra/terraform/test-org/github/main.tf
  infra/terraform/test-org/github/outputs.tf
  infra/terraform/test-org/github/protection.tf
  infra/terraform/test-org/github/resources/renovate.json
  infra/terraform/test-org/github/resources/stale.yml
  infra/terraform/test-org/org/folders.tf
  infra/terraform/test-org/org/locals.tf
  infra/terraform/test-org/org/outputs.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat: centralize module repo configuration (#1331)
  infra/terraform/modules/codeowners_file/main.tf
  infra/terraform/modules/repositories/main.tf
  infra/terraform/modules/repositories/outputs.tf
  infra/terraform/modules/repositories/variables.tf
  infra/terraform/modules/repositories/versions.tf
  infra/terraform/test-org/ci-triggers/.terraform.lock.hcl
  infra/terraform/test-org/github/.terraform.lock.hcl
  infra/terraform/test-org/github/backend.tf
  infra/terraform/test-org/github/labels.tf
  infra/terraform/test-org/github/main.tf
  infra/terraform/test-org/github/outputs.tf
  infra/terraform/test-org/github/protection.tf
  infra/terraform/test-org/github/resources/renovate.json
  infra/terraform/test-org/github/resources/stale.yml
  infra/terraform/test-org/org/folders.tf
  infra/terraform/test-org/org/locals.tf
  infra/terraform/test-org/org/outputs.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix: add WAAP entry with new format
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: Onboard WAAP blueprint (#1330)
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix: pin repositories module to GHP 5.7
  infra/terraform/modules/repositories/versions.tf
  infra/terraform/test-org/github/.terraform.lock.hcl
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix: pin TF repositories module to GHP 5.7 (#1334)
  infra/terraform/modules/repositories/versions.tf
  infra/terraform/test-org/github/.terraform.lock.hcl
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

update topics
  infra/terraform/test-org/github/.terraform.lock.hcl
  infra/terraform/test-org/org/.terraform.lock.hcl
  infra/terraform/test-org/org/locals.tf
  infra/terraform/test-org/org/policy.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: update topics (#1335)
  infra/terraform/test-org/github/.terraform.lock.hcl
  infra/terraform/test-org/org/.terraform.lock.hcl
  infra/terraform/test-org/org/locals.tf
  infra/terraform/test-org/org/policy.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat: add doc generate to catalog
  cli/bpcatalog/cmd.go
  cli/bpcatalog/render.go
  cli/bpcatalog/render_test.go
  cli/bpcatalog/tf.go
  cli/bpcatalog/tf_test.go
  cli/testdata/catalog/csv-verbose.expected
  cli/testdata/catalog/csv.expected
  cli/testdata/catalog/html.expected
  cli/testdata/catalog/single-html.expected
  cli/testdata/catalog/table.expected
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

chore: add lint for infra/terraform
  infra/.gitignore
  infra/cloudbuild/lint-infra-terraform.cloudbuild.yaml
  infra/terraform/dev-org/dev-project-cleanup/versions.tf
  infra/terraform/modules/repositories/versions.tf
  infra/terraform/modules/variables/main.tf
  infra/terraform/modules/variables/outputs.tf
  infra/terraform/terraform_backend/.terraform.lock.hcl
  infra/terraform/terraform_backend/terraform.tfstate
  infra/terraform/test-org/ci-comment-build-trigger-function/versions.tf
  infra/terraform/test-org/ci-project/versions.tf
  infra/terraform/test-org/ci-triggers/locals.tf
  infra/terraform/test-org/ci-triggers/triggers.tf
  infra/terraform/test-org/ci-triggers/versions.tf
  infra/terraform/test-org/github/protection.tf
  infra/terraform/test-org/github/versions.tf
  infra/terraform/test-org/org-iam-policy/versions.tf
  infra/terraform/test-org/org/.terraform.lock.hcl
  infra/terraform/test-org/org/bigquery_external_data.tf
  infra/terraform/test-org/org/locals.tf
  infra/terraform/test-org/org/versions.tf
  infra/terraform/test-org/test-cleanup/versions.tf
  infra/terraform/test-org/tf-validator/versions.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update terraform hashicorp/terraform to ~> 1.3.0
  infra/terraform/dev-org/dev-project-cleanup/versions.tf
  infra/terraform/test-org/ci-comment-build-trigger-function/versions.tf
  infra/terraform/test-org/ci-project/versions.tf
  infra/terraform/test-org/ci-triggers/versions.tf
  infra/terraform/test-org/github/versions.tf
  infra/terraform/test-org/org-iam-policy/versions.tf
  infra/terraform/test-org/org/versions.tf
  infra/terraform/test-org/test-cleanup/versions.tf
  infra/terraform/test-org/tf-validator/versions.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update tf modules
  cli/testdata/bpmetadata/tf/main.tf
  infra/blueprint-test/examples/simple_tf_module/main.tf
  infra/blueprint-test/examples/simple_tf_module_with_test/main.tf
  infra/blueprint-test/examples/simple_tf_module_with_test/test/setup/main.tf
  infra/blueprint-test/test/setup/simple_tf_bench/main.tf
  infra/blueprint-test/test/setup/simple_tf_module/main.tf
  infra/build/developer-tools/build/scripts/module-swapper/cmd/testdata/example-module-simple/examples/example-one/main.tf
  infra/modules/seed_project/main.tf
  infra/terraform/dev-org/dev-project-cleanup/cleanup.tf
  infra/terraform/dev-org/dev-project-cleanup/project.tf
  infra/terraform/test-org/org/bigquery_external_data.tf
  infra/terraform/test-org/org/gsuite.tf
  infra/terraform/test-org/org/projects.tf
  infra/terraform/test-org/org/prow.tf
  infra/terraform/test-org/test-cleanup/cleanup.tf
  infra/terraform/test-org/test-cleanup/project.tf
  infra/terraform/test-org/tf-validator/project.tf
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody, @ocsig

chore(deps): update peter-evans/create-pull-request digest to ea54357
  .github/workflows/update-tooling.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: Update Tools to 1.10.5
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update peter-evans/create-pull-request digest to ea54357 (#1306)
  .github/workflows/update-tooling.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update for go-sdk refactor
  infra/blueprint-test/go.mod
  infra/blueprint-test/go.sum
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

remove stale terraform_backend
  infra/terraform/modules/variables/main.tf
  infra/terraform/modules/variables/outputs.tf
  infra/terraform/terraform_backend/.terraform.lock.hcl
  infra/terraform/terraform_backend/phoogle.tf
  infra/terraform/terraform_backend/terraform.tfstate
  infra/terraform/terraform_backend/variables.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: add lint for infra/terraform (#1336)
  infra/.gitignore
  infra/cloudbuild/lint-infra-terraform.cloudbuild.yaml
  infra/terraform/dev-org/dev-project-cleanup/versions.tf
  infra/terraform/modules/repositories/versions.tf
  infra/terraform/modules/variables/main.tf
  infra/terraform/modules/variables/outputs.tf
  infra/terraform/terraform_backend/phoogle.tf
  infra/terraform/terraform_backend/terraform.tfstate
  infra/terraform/terraform_backend/variables.tf
  infra/terraform/test-org/ci-comment-build-trigger-function/versions.tf
  infra/terraform/test-org/ci-project/versions.tf
  infra/terraform/test-org/ci-triggers/locals.tf
  infra/terraform/test-org/ci-triggers/triggers.tf
  infra/terraform/test-org/ci-triggers/versions.tf
  infra/terraform/test-org/github/protection.tf
  infra/terraform/test-org/github/versions.tf
  infra/terraform/test-org/org-iam-policy/versions.tf
  infra/terraform/test-org/org/.terraform.lock.hcl
  infra/terraform/test-org/org/bigquery_external_data.tf
  infra/terraform/test-org/org/locals.tf
  infra/terraform/test-org/org/versions.tf
  infra/terraform/test-org/test-cleanup/versions.tf
  infra/terraform/test-org/tf-validator/versions.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat: update stale version and renovate config
  infra/terraform/test-org/github/resources/renovate.json
  infra/terraform/test-org/github/resources/stale.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat: update stale version and renovate config (#1344)
  infra/terraform/test-org/github/resources/renovate.json
  infra/terraform/test-org/github/resources/stale.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update dependency google-api-python-client to v1.12.11
  infra/utils/delete-projects/requirements.txt
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update dependency google-cloud-resource-manager to v0.30.5
  infra/utils/delete-projects/requirements.txt
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: update CFT for org-iam-policy TF version
  infra/terraform/test-org/org-iam-policy/cloudbuild.yaml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat: add blueprint test init
  cli/bpbuild/cmd.go
  cli/bptest/cmd.go
  cli/bptest/init.go
  cli/bptest/init_test.go
  cli/bptest/templates/go.mod.tmpl
  cli/bptest/testdata/init/examples/foo/main.tf
  cli/bptest/testdata/init/test/integration/bar/bar_test.go
  cli/bptest/testdata/init/test/integration/go.mod
  cli/util/file.go
  cli/util/prompt.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

feat: add doc generate to catalog (#1337)
  cli/bpcatalog/cmd.go
  cli/bpcatalog/render.go
  cli/bpcatalog/render_test.go
  cli/bpcatalog/tf.go
  cli/bpcatalog/tf_test.go
  cli/testdata/catalog/csv-verbose.expected
  cli/testdata/catalog/csv.expected
  cli/testdata/catalog/html.expected
  cli/testdata/catalog/single-html.expected
  cli/testdata/catalog/table.expected
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

swap preprocess to remove go.mod and silence ide warnings
  cli/bptest/init_test.go
  cli/bptest/testdata/init/test/integration/go.mod
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

chore: update CFT for org-iam-policy TF version (#1346)
  infra/terraform/test-org/org-iam-policy/cloudbuild.yaml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update peter-evans/create-pull-request digest to e398a27
  .github/workflows/update-tooling.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update peter-evans/create-pull-request digest to e398a27 (#1345)
  .github/workflows/update-tooling.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

CODEOWNERS:

# Main team administering overall repo
*           @bharathkkb @ocsig @kaariger @g-awmalik @apeabody

# Deployment Manager Reviewers
/dm/        @ocsig @sjvanrossum

# CLI owners
/cli/       @bharathkkb @kaariger @g-awmalik @apeabody

# Config Connector team
/config-connector/ @ocsig @AlexBulankou @maqiuyujoyce
