Repository GoogleCloudPlatform/cloud-foundation-toolkit, changes with the owners that CODEOWNERS names for each.
All owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody, @sjvanrossum, @AlexBulankou, @maqiuyujoyce

CODEOWNERS:

# Main team administering overall repo
*           @bharathkkb @ocsig @kaariger @g-awmalik @apeabody

# Deployment Manager Reviewers
/dm/        @ocsig @sjvanrossum

# CLI owners
/cli/       @bharathkkb @kaariger @g-awmalik @apeabody

# Config Connector team
/config-connector/ @ocsig @AlexBulankou @maqiuyujoyce

shortened repo names
  infra/terraform/test-org/ci-triggers/locals.tf
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: add groups to test-org repos
  infra/terraform/modules/codeowners_file/main.tf
  infra/terraform/modules/codeowners_file/variables.tf
  infra/terraform/modules/repositories/main.tf
  infra/terraform/modules/repositories/variables.tf
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: Update Tools to 1.11.5
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: Update Tools to 1.11.5 (#1483)
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update variables.tf
  infra/terraform/modules/codeowners_file/variables.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update lint.yaml
  .github/workflows/lint.yaml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update lint.yaml
  .github/workflows/lint.yaml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: add lint.yaml (#1511)
  .github/workflows/lint.yaml
  infra/cloudbuild/lint-infra-terraform.cloudbuild.yaml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix typo
  infra/terraform/modules/repositories/main.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: add groups to test-org repos (#1513)
  infra/terraform/modules/codeowners_file/main.tf
  infra/terraform/modules/codeowners_file/variables.tf
  infra/terraform/modules/repositories/main.tf
  infra/terraform/modules/repositories/variables.tf
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat: onboards two JSS repos for large data sharing webapps (#1510)
  infra/terraform/test-org/ci-triggers/locals.tf
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update google-github-actions/setup-gcloud action to v1.1.0
  .github/workflows/build-push-cft-devtools.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update google-github-actions/setup-gcloud action to v1.1.0 (#1408)
  .github/workflows/build-push-cft-devtools.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update peter-evans/create-pull-request digest to 0183f33
  .github/workflows/update-tooling.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update peter-evans/create-pull-request digest to 0183f33 (#1514)
  .github/workflows/update-tooling.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update actions/github-script action to v6.4.1
  .github/workflows/build-push-cft-devtools.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update actions/github-script action to v6.4.1 (#1515)
  .github/workflows/build-push-cft-devtools.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: gcloud disable remote flags
  infra/build/developer-tools/build/install_cloud_sdk.sh
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix: renames bpmetadata fields for consistency
  cli/Makefile
  cli/bpmetadata/display.go
  cli/bpmetadata/display_test.go
  cli/bpmetadata/proto/bpmetadata.proto
  cli/bpmetadata/proto/bpmetadata_ui.proto
  cli/bpmetadata/proto/bpmetadata_ui_ext.proto
  cli/bpmetadata/schema/bpmetadataschema.json
  cli/bpmetadata/tfconfig.go
  cli/bpmetadata/tfconfig_test.go
  cli/bpmetadata/types.go
  cli/bpmetadata/types_ui.go
  cli/bpmetadata/types_ui_ext.go
  cli/testdata/bpmetadata/schema/valid-metadata-w-enum.yaml
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

chore: gcloud disable remote flags (#1518)
  infra/build/developer-tools/build/install_cloud_sdk.sh
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update google-github-actions/auth action to v1.1.0
  .github/workflows/build-push-cft-devtools.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: Update Tools to 1.11.6
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update google-github-actions/auth action to v1.1.0 (#1516)
  .github/workflows/build-push-cft-devtools.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update dependency google-cloud-build to v3
  infra/terraform/test-org/ci-comment-build-trigger-function/function_source/requirements.txt
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

removed default from blueprint variable
  cli/bpmetadata/proto/bpmetadata.proto
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

fix: renames bpmetadata fields for consistency (#1519)
  cli/Makefile
  cli/bpmetadata/display.go
  cli/bpmetadata/display_test.go
  cli/bpmetadata/proto/bpmetadata.proto
  cli/bpmetadata/proto/bpmetadata_ui.proto
  cli/bpmetadata/proto/bpmetadata_ui_ext.proto
  cli/bpmetadata/schema/bpmetadataschema.json
  cli/bpmetadata/tfconfig.go
  cli/bpmetadata/tfconfig_test.go
  cli/bpmetadata/types.go
  cli/bpmetadata/types_ui.go
  cli/bpmetadata/types_ui_ext.go
  cli/testdata/bpmetadata/schema/valid-metadata-w-enum.yaml
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

chore: Update Tools to 1.11.6 (#1517)
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix: updates enums for jsonschema for bpmetadata
  cli/Makefile
  cli/bpmetadata/schema/bpmetadataschema.json
  cli/bpmetadata/types.go
  cli/bpmetadata/types_ui_ext.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

updated enum for gcs
  cli/bpmetadata/schema/bpmetadataschema.json
  cli/bpmetadata/types_ui_ext.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

fix: updates enums for jsonschema for bpmetadata (#1524)
  cli/Makefile
  cli/bpmetadata/schema/bpmetadataschema.json
  cli/bpmetadata/types.go
  cli/bpmetadata/types_ui_ext.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

chore: add go lint
  .github/workflows/go-lint
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update go-lint.yaml
  .github/workflows/go-lint.yaml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update go-lint.yaml
  .github/workflows/go-lint.yaml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update go-lint.yaml
  .github/workflows/go-lint.yaml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update go-lint.yaml
  .github/workflows/go-lint.yaml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update go-lint.yaml
  .github/workflows/go-lint.yaml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Rename go-lint to go-lint.yaml
  .github/workflows/go-lint.yaml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update go-lint.yaml
  .github/workflows/go-lint.yaml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

add Makefile docker_go_test
  cli/Makefile
  infra/blueprint-test/Makefile
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody, @ocsig

Update go-lint.yaml
  .github/workflows/go-lint.yaml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody
