Repository GoogleCloudPlatform/cloud-foundation-toolkit, changes with the owners that CODEOWNERS names for each.
All owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody, @sjvanrossum, @AlexBulankou, @maqiuyujoyce

chore:udpates the version for cft cli for bpmetadata
  cli/Makefile
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

chore: updates the version for cft cli for bpmetadata (#1295)
  cli/Makefile
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

Update release-cli.yml
  .github/workflows/release-cli.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: update release-cli.yml (#1296)
  .github/workflows/release-cli.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Use a newer gcloud version for CLI release
  .github/workflows/release-cli.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: use a newer gcloud version for CLI release (#1297)
  .github/workflows/release-cli.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update tools to 1.10.1
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update Tools to 1.10.1 (#1298)
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat: add ansible-lint to krm tools
  infra/build/developer-tools-krm/Dockerfile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update Makefile
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix: updates approach for discovering mod/submods
  cli/Makefile
  cli/bpmetadata/repo.go
  cli/bpmetadata/repo_test.go
  cli/util/git.go
  cli/util/git_test.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

gen_docs update
  cli/Makefile
  infra/build/developer-tools/build/scripts/task_helper_functions.sh
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody, @ocsig

chore: add ansible-lint to krm tools (#1300)
  infra/build/Makefile
  infra/build/developer-tools-krm/Dockerfile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore add py3-jsonschema to krm tools
  infra/build/developer-tools-krm/Dockerfile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update Makefile
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update Makefile
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update tools to 1.10.3
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: add py3-jsonschema to krm tools 1.10.3 (#1303)
  infra/build/Makefile
  infra/build/developer-tools-krm/Dockerfile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat: allow var overrides for workspace mode (#1292)
  infra/blueprint-test/examples/simple_pet_module/main.tf
  infra/blueprint-test/pkg/tft/terraform.go
  infra/blueprint-test/test/terraform_redeploy_test.go
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

comments from adbabc9
  cli/bpmetadata/repo.go
  cli/bpmetadata/repo_test.go
  infra/build/developer-tools/build/scripts/task_helper_functions.sh
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody, @ocsig

chore(deps): update actions/checkout action to v3
  .github/workflows/release-cli.yml
  .github/workflows/test-cli.yml
  .github/workflows/update-tooling.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update actions/checkout action to v3 (#1310)
  .github/workflows/release-cli.yml
  .github/workflows/test-cli.yml
  .github/workflows/update-tooling.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update actions/setup-go action to v3
  .github/workflows/release-cli.yml
  .github/workflows/test-cli.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update actions/setup-go action to v3 (#1311)
  .github/workflows/release-cli.yml
  .github/workflows/test-cli.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update dependency pyyaml to v5.4.1
  docs/meta/requirements.txt
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update actions/upload-artifact action to v3
  .github/workflows/release-cli.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update actions/upload-artifact action to v3 (#1312)
  .github/workflows/release-cli.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update dependency google-cloud-build to v1.1.2
  infra/terraform/test-org/ci-comment-build-trigger-function/function_source/requirements.txt
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

remove terraform plan file needed for the terraform vet execution after validation
  infra/blueprint-test/pkg/tft/terraform.go
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update terraform google to ~> 3.90.0
  infra/blueprint-test/examples/simple_tf_module/main.tf
  infra/blueprint-test/examples/simple_tf_module_with_test/main.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update module go to 1.18
  cli/go.mod
  cli/go.sum
  config-connector/tests/ccs-test/go.mod
  config-connector/tests/ccs-test/vendor/github.com/spf13/cobra/go.mod
  config-connector/tests/ccs-test/vendor/github.com/spf13/cobra/go.sum
  infra/blueprint-test/go.mod
  infra/blueprint-test/go.sum
  infra/build/developer-tools/build/scripts/module-swapper/go.mod
  infra/build/developer-tools/build/scripts/module-swapper/go.sum
  infra/utils/fbf/go.mod
  infra/utils/fbf/go.sum
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody, @ocsig, @AlexBulankou, @maqiuyujoyce

chore(deps): update dependency nokogiri to v1.13.10 [security]
  infra/build/developer-tools/build/data/Gemfile.lock
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update dependency nokogiri to v1.13.10 [security] (#1323)
  infra/build/developer-tools/build/data/Gemfile.lock
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: update toolings to conventionalcommits
  .github/workflows/update-tooling.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat: add GCRANE to krm tools
  .github/workflows/update-tooling.yml
  infra/build/Makefile
  infra/build/developer-tools-krm/Dockerfile
  infra/build/developer-tools-krm/build/install_gcrane.sh
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: create conventional commit bot config
  .github/conventional-commit-lint.yaml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: create conventional commit bot config (#1325)
  .github/conventional-commit-lint.yaml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

creating test.txt
  test.txt
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

remove planFilePath from test struct and set it only for the plan and show execution
  infra/blueprint-test/pkg/tft/terraform.go
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: add GCRANE to krm tools (#1315)
  .github/workflows/update-tooling.yml
  infra/build/Makefile
  infra/build/developer-tools-krm/Dockerfile
  infra/build/developer-tools-krm/build/install_gcrane.sh
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

CODEOWNERS:

# Main team administering overall repo
*           @bharathkkb @ocsig @kaariger @g-awmalik @apeabody

# Deployment Manager Reviewers
/dm/        @ocsig @sjvanrossum

# CLI owners
/cli/       @bharathkkb @kaariger @g-awmalik @apeabody

# Config Connector team
/config-connector/ @ocsig @AlexBulankou @maqiuyujoyce
