Repository GoogleCloudPlatform/cloud-foundation-toolkit, changes with the owners that CODEOWNERS names for each.
All owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody, @sjvanrossum, @AlexBulankou, @maqiuyujoyce

CODEOWNERS:

# Main team administering overall repo
*           @bharathkkb @ocsig @kaariger @g-awmalik @apeabody

# Deployment Manager Reviewers
/dm/        @ocsig @sjvanrossum

# CLI owners
/cli/       @bharathkkb @kaariger @g-awmalik @apeabody

# Config Connector team
/config-connector/ @ocsig @AlexBulankou @maqiuyujoyce

fix(deps): update github.com/googlecloudplatform/config-validator digest to 1d72524
  cli/go.mod
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

fix(deps): update github.com/googlecontainertools/kpt-functions-sdk/go/api digest to 4cb31eb
  infra/blueprint-test/go.mod
  infra/blueprint-test/go.sum
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix(deps): update github.com/hashicorp/terraform-config-inspect digest to 8cad743
  cli/go.mod
  cli/go.sum
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

fix(deps): update github.com/mitchellh/go-testing-interface digest to 2d9075c
  cli/go.mod
  cli/go.sum
  infra/blueprint-test/go.mod
  infra/blueprint-test/go.sum
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody, @ocsig

fix(deps): update google.golang.org/genproto digest to 10f96fb
  cli/go.mod
  cli/go.sum
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

fix(deps): update module github.com/gammazero/workerpool to v1.1.3
  cli/go.mod
  cli/go.sum
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

chore(deps): update alpine docker tag to v3.17.2
  infra/build/developer-tools-light/Dockerfile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update dependency requests to v2.28.2
  docs/meta/requirements.txt
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: update renovate (#1392)
  .github/renovate.json
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update peter-evans/create-pull-request digest to 24b0f8e
  .github/workflows/update-tooling.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update peter-evans/create-pull-request digest to 24b0f8e (#1402)
  .github/workflows/update-tooling.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update actions/github-script action to v6.4.0
  .github/workflows/build-push-cft-devtools.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix: updates cli tagging for automatic upload to go docs
  .github/workflows/release-cli.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat: extends metadata schema for bpmetadata
  cli/Makefile
  cli/bpmetadata/types.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

update tooling verion
  .github/workflows/update-tooling.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update actions/github-script action to v6.4.0 (#1406)
  .github/workflows/build-push-cft-devtools.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

addressing comments from 19bbe6a
  cli/bpmetadata/cmd.go
  cli/bpmetadata/tfconfig.go
  cli/util/git_test.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

fixed git tests
  cli/bpmetadata/repo.go
  cli/util/git.go
  cli/util/git_test.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

chore: skip INT for metadata.yaml
  infra/terraform/test-org/ci-triggers/triggers.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix(deps): update go modules
  infra/blueprint-test/go.mod
  infra/blueprint-test/go.sum
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat: adds tf formatting to module gen helper function (#1332)
  infra/build/developer-tools/build/scripts/task_helper_functions.sh
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix: updates cli tagging for automatic upload to go docs (#1410)
  .github/workflows/release-cli.yml
  .github/workflows/update-tooling.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix: honor repo url when manually authored (#1400)
  cli/Makefile
  cli/bpmetadata/cmd.go
  cli/bpmetadata/repo.go
  cli/bpmetadata/tfconfig.go
  cli/util/git.go
  cli/util/git_test.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

minor type modifications
  cli/bpmetadata/types.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

fix(deps): update go modules (#1416)
  infra/blueprint-test/go.mod
  infra/blueprint-test/go.sum
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: skip INT for metadata.yaml (#1415)
  infra/terraform/test-org/ci-triggers/triggers.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update locals.tf
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: removed owner from cloud armor module (#1417)
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

modifies quota details
  cli/bpmetadata/types.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

fix: adds policy_id variable to the project factory int trigger
  infra/terraform/test-org/ci-triggers/locals.tf
  infra/terraform/test-org/ci-triggers/triggers.tf
  infra/terraform/test-org/org/locals.tf
  infra/terraform/test-org/org/outputs.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: onboard dynamic python webapp
  infra/terraform/test-org/ci-triggers/locals.tf
  infra/terraform/test-org/org/gsuite.tf
  infra/terraform/test-org/org/locals.tf
  infra/terraform/test-org/org/outputs.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fmt
  infra/terraform/test-org/org/gsuite.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: onboard dynamic python webapp (#1419)
  infra/terraform/test-org/ci-triggers/locals.tf
  infra/terraform/test-org/org/gsuite.tf
  infra/terraform/test-org/org/locals.tf
  infra/terraform/test-org/org/outputs.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

removed structs for quotas
  cli/bpmetadata/types.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

feat: extends metadata schema for bpmetadata (#1413)
  cli/Makefile
  cli/bpmetadata/types.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

fix: adds ctx manager policy reader role to ci bots
  infra/terraform/test-org/org-iam-policy/iam.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat: add 'renovate-bot' for forking-renovate
  infra/terraform/test-org/github/resources/trusted-contribution.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix: adds ctx manager policy reader role to ci bots (#1420)
  infra/terraform/test-org/org-iam-policy/iam.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat: add 'renovate-bot' for forking-renovate (#1421)
  infra/terraform/test-org/github/resources/trusted-contribution.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: onboard java app
  infra/terraform/test-org/ci-triggers/locals.tf
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody
