Repository GoogleCloudPlatform/cloud-foundation-toolkit, changes with the owners that CODEOWNERS names for each.
All owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody, @sjvanrossum, @AlexBulankou, @maqiuyujoyce

CODEOWNERS:

# Main team administering overall repo
*           @bharathkkb @ocsig @kaariger @g-awmalik @apeabody

# Deployment Manager Reviewers
/dm/        @ocsig @sjvanrossum

# CLI owners
/cli/       @bharathkkb @kaariger @g-awmalik @apeabody

# Config Connector team
/config-connector/ @ocsig @AlexBulankou @maqiuyujoyce

fix: fixes bp metadata desc issue and adds architecture desc attribute (#1374)
  cli/Makefile
  cli/bpmetadata/cmd.go
  cli/bpmetadata/markdown_test.go
  cli/bpmetadata/types.go
  cli/testdata/bpmetadata/md/list-content.md
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

chore: ignore concourse
  .github/renovate.json
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: ignore concourse (#1377)
  .github/renovate.json
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update peter-evans/create-pull-request digest to ec919b7
  .github/workflows/update-tooling.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix: update to OPA 0.37.2
  cli/go.mod
  cli/go.sum
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

chore(deps): update peter-evans/create-pull-request digest to ec919b7 (#1369)
  .github/workflows/update-tooling.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: enable comment trigger
  infra/terraform/test-org/ci-triggers/triggers.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: enable comment trigger (#1382)
  infra/terraform/test-org/ci-triggers/triggers.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: fix variable name
  infra/terraform/modules/repo_file/main.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: fix variable name (#1384)
  infra/terraform/modules/repo_file/main.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: add trusted-contribution.yml
  infra/terraform/test-org/github/protection.tf
  infra/terraform/test-org/github/resources/trusted-contribution.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: add trusted-contribution.yml (#1385)
  infra/terraform/test-org/github/protection.tf
  infra/terraform/test-org/github/resources/trusted-contribution.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Create trusted-contribution.yml
  .github/trusted-contribution.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: add trusted-contribution.yml (#1386)
  .github/trusted-contribution.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: add cloud-foundation-bot
  .github/trusted-contribution.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update trusted-contribution.yml
  .github/trusted-contribution.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: add cloud-foundation-bot and renovate-bot (#1387)
  .github/trusted-contribution.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat: added cloud functions to the repo
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat: added cloud functions to the repo list (#1388)
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix(deps): update gopkg.in/check.v1 digest to 10cb982
  config-connector/tests/ccs-test/vendor/gopkg.in/yaml.v2/go.mod
Owners: @ocsig, @AlexBulankou, @maqiuyujoyce

fix(deps): update module github.com/cpuguy83/go-md2man/v2 to v2.0.2
  config-connector/tests/ccs-test/vendor/github.com/spf13/cobra/go.mod
  config-connector/tests/ccs-test/vendor/github.com/spf13/cobra/go.sum
Owners: @ocsig, @AlexBulankou, @maqiuyujoyce

chore: update renovate
  .github/renovate.json
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: update renovate (#1389)
  .github/renovate.json
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update peter-evans/create-pull-request digest to 951d1b8
  .github/workflows/update-tooling.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update peter-evans/create-pull-request digest to 951d1b8 (#1390)
  .github/workflows/update-tooling.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: update renovate
  .github/renovate.json
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update renovate.json
  .github/renovate.json
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update renovate.json
  .github/renovate.json
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update renovate.json
  .github/renovate.json
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: add stale
  .github/workflows/stale.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update renovate.json
  .github/renovate.json
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(ci): add trigger for terraform-google-conversion
  infra/terraform/test-org/ci-triggers/triggers.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: add dpebot to repos
  infra/terraform/modules/repositories/main.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: add stale (#1394)
  .github/workflows/stale.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: add dpebot to repos (#1399)
  infra/terraform/modules/repositories/main.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: Update Tools to 1.10.7
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix: honor repo url when manually authored
  cli/Makefile
  cli/bpmetadata/cmd.go
  cli/bpmetadata/repo.go
  cli/util/git.go
  cli/util/git_test.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

chore: Update Tools to 1.10.7 (#1378)
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix(deps): update module github.com/open-policy-agent/opa to v0.42.0 [security]
  cli/go.mod
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

fix(deps): update github.com/gomarkdown/markdown digest to 663e250
  cli/go.mod
  cli/go.sum
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody
