Repository GoogleCloudPlatform/cloud-foundation-toolkit, changes with the owners that CODEOWNERS names for each.
All owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody, @sjvanrossum, @AlexBulankou, @maqiuyujoyce

install golang to developer-tools-light dockerfile
  infra/build/Makefile
  infra/build/developer-tools-light/Dockerfile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat: add golang to developer-tools-light (#1245)
  infra/build/Makefile
  infra/build/developer-tools-light/Dockerfile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Fix vulnerability in developer-tools-light
  infra/build/Makefile
  infra/build/developer-tools-light/Dockerfile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix: Fix vulnerability in developer-tools-light (#1246)
  infra/build/Makefile
  infra/build/developer-tools-light/Dockerfile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Add to list of valid regions plus changes in PR 1238
  dm/templates/cloud_sql/cloud_sql.py.schema
Owners: @ocsig, @sjvanrossum

feat: setup infra for filelogger
  infra/terraform/test-org/ci-triggers/locals.tf
  infra/terraform/test-org/ci-triggers/logs.tf
  infra/terraform/test-org/ci-triggers/triggers.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat: setup infra for filelogger (#1248)
  infra/terraform/test-org/ci-triggers/locals.tf
  infra/terraform/test-org/ci-triggers/logs.tf
  infra/terraform/test-org/ci-triggers/triggers.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update tools to 1.6.2
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update Makefile
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update Tools to 1.7.0 (#1249)
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat:adds tf and markdown config data generation for bpmetadata
  cli/bpmetadata/cmd.go
  cli/bpmetadata/markdown.go
  cli/bpmetadata/markdown_test.go
  cli/bpmetadata/tfconfig.go
  cli/bpmetadata/tfconfig_test.go
  cli/bpmetadata/types.go
  cli/go.mod
  cli/go.sum
  cli/testdata/bpmetadata/md/list-content.md
  cli/testdata/bpmetadata/md/simple-content.md
  cli/testdata/bpmetadata/tf/interfaces/outputs.tf
  cli/testdata/bpmetadata/tf/interfaces/variables.tf
  cli/testdata/bpmetadata/tf/main.tf
  cli/testdata/bpmetadata/tf/versions-bad-all.tf
  cli/testdata/bpmetadata/tf/versions-bad-core.tf
  cli/testdata/bpmetadata/tf/versions-bad-module.tf
  cli/testdata/bpmetadata/tf/versions-core.tf
  cli/testdata/bpmetadata/tf/versions-module.tf
  cli/testdata/bpmetadata/tf/versions.tf
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

Allow filestore to use newer tier names and storage size
  dm/templates/cloud_filestore/cloud_filestore.py
  dm/templates/cloud_filestore/cloud_filestore.py.schema
Owners: @ocsig, @sjvanrossum

addressed first round of review comments
  cli/bpmetadata/cmd.go
  cli/bpmetadata/markdown.go
  cli/bpmetadata/markdown_test.go
  cli/bpmetadata/repo.go
  cli/bpmetadata/tfconfig.go
  cli/bpmetadata/tfconfig_test.go
  cli/bpmetadata/types.go
  cli/go.mod
  cli/go.sum
  cli/testdata/bpmetadata/tf/sample-module/outputs.tf
  cli/testdata/bpmetadata/tf/sample-module/variables.tf
  cli/testdata/bpmetadata/tf/versions-bad-all.tf
  cli/testdata/bpmetadata/tf/versions-bad-core.tf
  cli/testdata/bpmetadata/tf/versions-bad-module.tf
  cli/testdata/bpmetadata/tf/versions-beta.tf
  cli/testdata/bpmetadata/tf/versions-core.tf
  cli/testdata/bpmetadata/tf/versions-module.tf
  cli/testdata/bpmetadata/tf/versions.tf
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

added errors to lower level fns
  cli/bpmetadata/cmd.go
  cli/bpmetadata/markdown.go
  cli/bpmetadata/markdown_test.go
  cli/bpmetadata/tfconfig.go
  cli/bpmetadata/tfconfig_test.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

feat:adds tf and markdown config data generation for bpmetadata
  cli/bpmetadata/cmd.go
  cli/bpmetadata/markdown.go
  cli/bpmetadata/markdown_test.go
  cli/bpmetadata/repo.go
  cli/bpmetadata/tfconfig.go
  cli/bpmetadata/tfconfig_test.go
  cli/bpmetadata/types.go
  cli/go.mod
  cli/go.sum
  cli/testdata/bpmetadata/md/list-content.md
  cli/testdata/bpmetadata/md/simple-content.md
  cli/testdata/bpmetadata/tf/main.tf
  cli/testdata/bpmetadata/tf/sample-module/outputs.tf
  cli/testdata/bpmetadata/tf/sample-module/variables.tf
  cli/testdata/bpmetadata/tf/versions-bad-all.tf
  cli/testdata/bpmetadata/tf/versions-bad-core.tf
  cli/testdata/bpmetadata/tf/versions-bad-module.tf
  cli/testdata/bpmetadata/tf/versions-beta.tf
  cli/testdata/bpmetadata/tf/versions-core.tf
  cli/testdata/bpmetadata/tf/versions-module.tf
  cli/testdata/bpmetadata/tf/versions.tf
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

Allow terraform-google-conversion to use cft github actions workload identity
  infra/terraform/test-org/ci-project/sa.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: bump cleaner job to nightly
  infra/terraform/test-org/ci-project/cleaner.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: bump cleaner job to nightly (#1257)
  infra/terraform/test-org/ci-project/cleaner.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: add link to cft and fabric comparison
  README.md
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: add link to cft and fabric comparison (#1258)
  README.md
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fixes from 4a781b1
  cli/bpmetadata/cmd.go
  cli/bpmetadata/path.go
  cli/bpmetadata/path_test.go
  cli/bpmetadata/tfconfig.go
  cli/testdata/bpmetadata/content/examples-some-without-tf/examples/acm/acm-terraform-blog-part1/README.md
  cli/testdata/bpmetadata/content/examples-some-without-tf/examples/acm/acm-terraform-blog-part1/terraform/main.tf
  cli/testdata/bpmetadata/content/examples-some-without-tf/examples/acm/acm-terraform-blog-part2/README.md
  cli/testdata/bpmetadata/content/examples-some-without-tf/examples/beta_cluster/README.md
  cli/testdata/bpmetadata/content/examples-some-without-tf/examples/simple_regional/README.md
  cli/testdata/bpmetadata/content/examples/acm/acm-terraform-blog-part1/README.md
  cli/testdata/bpmetadata/content/examples/acm/acm-terraform-blog-part1/terraform/main.tf
  cli/testdata/bpmetadata/content/examples/acm/acm-terraform-blog-part2/README.md
  cli/testdata/bpmetadata/content/examples/acm/acm-terraform-blog-part2/main.tf
  cli/testdata/bpmetadata/content/examples/simple_regional/README.md
  cli/testdata/bpmetadata/content/examples/simple_regional_beta/README.md
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

removed ws
  cli/bpmetadata/path.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

fixing indent typo
  cli/bpmetadata/path.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

Upgrade alpine version to 3.16.2 in developer-tools-light
  infra/build/Makefile
  infra/build/developer-tools-light/Dockerfile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Upgrade alpine version to 3.16.2 in developer-tools-light (#1259)
  infra/build/Makefile
  infra/build/developer-tools-light/Dockerfile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: skip zip for whitespace check
  infra/build/developer-tools/build/scripts/task_helper_functions.sh
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update tools to 1.7.2
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update Tools to 1.7.2 (#1253)
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: skip zip for whitespace check (#1260)
  infra/build/developer-tools/build/scripts/task_helper_functions.sh
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

removed tf test content
  cli/testdata/bpmetadata/content/examples/simple_regional_beta/main.tf
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

removed newlines and added vars.tf
  cli/bpmetadata/path.go
  cli/testdata/bpmetadata/content/examples/simple_regional_beta/variables.tf
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

feat:adds file path logic for bpmetadata
  cli/bpmetadata/cmd.go
  cli/bpmetadata/path.go
  cli/bpmetadata/path_test.go
  cli/bpmetadata/tfconfig.go
  cli/testdata/bpmetadata/assets/icon.png
  cli/testdata/bpmetadata/content/examples-some-without-tf/examples/acm/acm-terraform-blog-part1/README.md
  cli/testdata/bpmetadata/content/examples-some-without-tf/examples/acm/acm-terraform-blog-part1/terraform/main.tf
  cli/testdata/bpmetadata/content/examples-some-without-tf/examples/acm/acm-terraform-blog-part2/README.md
  cli/testdata/bpmetadata/content/examples-some-without-tf/examples/beta_cluster/README.md
  cli/testdata/bpmetadata/content/examples-some-without-tf/examples/simple_regional/README.md
  cli/testdata/bpmetadata/content/examples-some-without-tf/examples/simple_regional/main.tf
  cli/testdata/bpmetadata/content/examples/acm/acm-terraform-blog-part1/README.md
  cli/testdata/bpmetadata/content/examples/acm/acm-terraform-blog-part1/terraform/main.tf
  cli/testdata/bpmetadata/content/examples/acm/acm-terraform-blog-part2/README.md
  cli/testdata/bpmetadata/content/examples/acm/acm-terraform-blog-part2/main.tf
  cli/testdata/bpmetadata/content/examples/simple_regional/README.md
  cli/testdata/bpmetadata/content/examples/simple_regional/main.tf
  cli/testdata/bpmetadata/content/examples/simple_regional_beta/README.md
  cli/testdata/bpmetadata/content/examples/simple_regional_beta/main.tf
  cli/testdata/bpmetadata/content/examples/simple_regional_beta/variables.tf
  cli/testdata/bpmetadata/content/modules-no-tf/modules/beta-public-cluster/README.md
  cli/testdata/bpmetadata/content/modules/beta-public-cluster/README.md
  cli/testdata/bpmetadata/content/modules/beta-public-cluster/main.tf
  cli/testdata/bpmetadata/content/modules/binary-authorization/README.md
  cli/testdata/bpmetadata/content/modules/binary-authorization/main.tf
  cli/testdata/bpmetadata/content/modules/private-cluster/README.md
  cli/testdata/bpmetadata/content/modules/private-cluster/main.tf
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

feat:functionality for writing metadata to disk
  cli/bpmetadata/cmd.go
  cli/bpmetadata/markdown.go
  cli/bpmetadata/markdown_test.go
  cli/bpmetadata/tfconfig.go
  cli/bpmetadata/types.go
  cli/testdata/bpmetadata/md/simple-content.md
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

fixed continueWithInput
  cli/bpmetadata/cmd.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

address comments from 2c50f36
  cli/bpmetadata/cmd.go
  cli/bpmetadata/types.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

addressed comments from 11a4464
  cli/bpmetadata/cmd.go
  cli/bpmetadata/types.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

feat:functionality for writing metadata to disk
  cli/bpmetadata/cmd.go
  cli/bpmetadata/markdown.go
  cli/bpmetadata/markdown_test.go
  cli/bpmetadata/tfconfig.go
  cli/bpmetadata/types.go
  cli/testdata/bpmetadata/md/simple-content.md
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

Update Makefile
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: update Gem files
  infra/build/developer-tools/build/data/Gemfile
  infra/build/developer-tools/build/data/Gemfile.lock
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: bump Ruby to 2.7.0 for deps
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

CODEOWNERS:

# Main team administering overall repo
*           @bharathkkb @ocsig @kaariger @g-awmalik @apeabody

# Deployment Manager Reviewers
/dm/        @ocsig @sjvanrossum

# CLI owners
/cli/       @bharathkkb @kaariger @g-awmalik @apeabody

# Config Connector team
/config-connector/ @ocsig @AlexBulankou @maqiuyujoyce
