Repository GoogleCloudPlatform/cloud-foundation-toolkit, changes with the owners that CODEOWNERS names for each.
All owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody, @sjvanrossum, @AlexBulankou, @maqiuyujoyce

chore(deps): update wordpress docker tag to v5.9.3
  config-connector/solutions/apps/helm/wordpress/charts/wordpress-gcp/values.yaml
Owners: @ocsig, @AlexBulankou, @maqiuyujoyce

chore: update renovate
  .github/renovate.json
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: make generation metadata opt in
  infra/build/Makefile
  infra/build/developer-tools/build/scripts/task_helper_functions.sh
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: add eric to codeowner and update tags
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

add workflows bp
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

lint
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: add eric to codeowner, update labels, onboard workflows (#1355)
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: make generation metadata opt in (#1354)
  infra/build/Makefile
  infra/build/developer-tools/build/scripts/task_helper_functions.sh
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: onboard Cloud Deploy module
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update locals.tf
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update locals.tf
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat: add blueprint test init (#1350)
  cli/bpbuild/cmd.go
  cli/bptest/cmd.go
  cli/bptest/init.go
  cli/bptest/init_test.go
  cli/bptest/templates/go.mod.tmpl
  cli/bptest/testdata/init/examples/foo/main.tf
  cli/bptest/testdata/init/test/integration/bar/bar_test.go
  cli/util/file.go
  cli/util/prompt.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

chore: update renovate (#1352)
  .github/renovate.json
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix(deps): update for go-sdk refactor (#1217)
  infra/blueprint-test/go.mod
  infra/blueprint-test/go.sum
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update peter-evans/create-pull-request digest to 84c5454
  .github/workflows/update-tooling.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore(deps): update peter-evans/create-pull-request digest to 84c5454 (#1359)
  .github/workflows/update-tooling.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: onboard Cloud Deploy module (#1356)
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update infra/terraform/test-org/org/locals.tf
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update locals.tf
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: Added Cloud Armor Module (#1357)
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix(deps): update github.com/inconshreveable/log15 digest to 5555550
  cli/go.mod
  cli/go.sum
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

fix: update blueprint-test for kpt v1.0.0-beta.16+
  .github/workflows/update-tooling.yml
  infra/blueprint-test/pkg/kpt/status.go
  infra/blueprint-test/pkg/krmt/krm.go
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat: validate kpt version
  infra/blueprint-test/go.mod
  infra/blueprint-test/pkg/kpt/kpt.go
  infra/blueprint-test/pkg/utils/bincheck.go
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat: add generic MinSemver
  infra/blueprint-test/pkg/kpt/kpt.go
  infra/blueprint-test/pkg/utils/version.go
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Start work on switching to new protobuf library
  cli/go.mod
  cli/scorecard/proto.go
  cli/scorecard/score.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

fix: replace deprecated protobuf
  cli/go.mod
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

Apply suggestions from code review
  infra/blueprint-test/pkg/kpt/kpt.go
  infra/blueprint-test/pkg/utils/version.go
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update version.go
  infra/blueprint-test/pkg/utils/bincheck.go
  infra/blueprint-test/pkg/utils/version.go
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: install tinkey in developer-tools image
  infra/build/Makefile
  infra/build/developer-tools/Dockerfile
  infra/build/developer-tools/build/install_tinkey.sh
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix: update blueprint-test for kpt v1.0.0-beta.16+ (#1367)
  .github/workflows/update-tooling.yml
  infra/blueprint-test/go.mod
  infra/blueprint-test/pkg/kpt/kpt.go
  infra/blueprint-test/pkg/kpt/status.go
  infra/blueprint-test/pkg/krmt/krm.go
  infra/blueprint-test/pkg/utils/version.go
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

download and untar tinkey in a folder
  infra/build/developer-tools/build/install_tinkey.sh
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: install tinkey in developer-tools image (#1370)
  infra/build/Makefile
  infra/build/developer-tools/Dockerfile
  infra/build/developer-tools/build/install_tinkey.sh
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: Update Tools to 1.10.6
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: Update Tools to 1.10.6 (#1349)
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat: update bp-t to GO 1.18 and other fixes
  infra/blueprint-test/examples/simple_tf_module/main.tf
  infra/blueprint-test/examples/simple_tf_module/versions.tf
  infra/blueprint-test/go.mod
  infra/blueprint-test/go.sum
  infra/blueprint-test/test/README.md
  infra/blueprint-test/test/retry_errors_test.go
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix:fixes bp metadata description issue and adds architecture description attribute
  cli/Makefile
  cli/bpmetadata/cmd.go
  cli/bpmetadata/markdown_test.go
  cli/bpmetadata/types.go
  cli/testdata/bpmetadata/md/list-content.md
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

feat: update blueprint-test to GO 1.18 and test fixes (#1373)
  infra/blueprint-test/examples/simple_tf_module/main.tf
  infra/blueprint-test/examples/simple_tf_module/versions.tf
  infra/blueprint-test/go.mod
  infra/blueprint-test/go.sum
  infra/blueprint-test/test/README.md
  infra/blueprint-test/test/retry_errors_test.go
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: update gator to track 3.11
  .github/workflows/update-tooling.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: update gator to track 3.11 (#1375)
  .github/workflows/update-tooling.yml
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

updates type for architecture desc
  cli/bpmetadata/cmd.go
  cli/bpmetadata/markdown_test.go
  cli/bpmetadata/types.go
  cli/testdata/bpmetadata/md/list-content.md
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

CODEOWNERS:

# Main team administering overall repo
*           @bharathkkb @ocsig @kaariger @g-awmalik @apeabody

# Deployment Manager Reviewers
/dm/        @ocsig @sjvanrossum

# CLI owners
/cli/       @bharathkkb @kaariger @g-awmalik @apeabody

# Config Connector team
/config-connector/ @ocsig @AlexBulankou @maqiuyujoyce
