Repository GoogleCloudPlatform/cloud-foundation-toolkit, changes with the owners that CODEOWNERS names for each.
All owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody, @sjvanrossum, @AlexBulankou, @maqiuyujoyce

CODEOWNERS:

# Main team administering overall repo
*           @bharathkkb @ocsig @kaariger @g-awmalik @apeabody

# Deployment Manager Reviewers
/dm/        @ocsig @sjvanrossum

# CLI owners
/cli/       @bharathkkb @kaariger @g-awmalik @apeabody

# Config Connector team
/config-connector/ @ocsig @AlexBulankou @maqiuyujoyce

clarify iff
  cli/bpbuild/build.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

Adding a higher maximum token size to NewBuffer
  cli/bptest/run.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

fix var name
  cli/bpbuild/git.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

Adding the buffer size to a const
  cli/bptest/run.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

Adjusting maxScanTokenSize constant value
  cli/bptest/run.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

Adding explanation comments for the new buffer constants
  cli/bptest/run.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

feat: blueprint builds in cli (#1224)
  cli/bpbuild/build.go
  cli/bpbuild/build_test.go
  cli/bpbuild/cmd.go
  cli/bpbuild/git.go
  cli/bpbuild/git_test.go
  cli/bpbuild/main.go
  cli/bpbuild/prompt.go
  cli/bpbuild/time.go
  cli/bpbuild/time_test.go
  cli/cmd/root.go
  cli/go.mod
  cli/go.sum
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

feat: increase maximum buffer size for cft cli output reader (#1228)
  cli/bptest/run.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

chore: release v0.4.5
  cli/Makefile
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

chore: release CLI v0.4.5 (#1230)
  cli/Makefile
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

Update tools to 1.5.12
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update Tools to 1.5.12 (#1214)
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat: blueprint-test file logger
  infra/blueprint-test/pkg/utils/logger.go
  infra/blueprint-test/pkg/utils/logger_test.go
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: add doc samples to CI
  infra/terraform/test-org/ci-triggers/locals.tf
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: add doc samples to CI (#1235)
  infra/terraform/test-org/ci-triggers/locals.tf
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat:adds base commands for blueprint metadata
  cli/bpmetadata/cmd.go
  cli/bpmetadata/main.go
  cli/cmd/blueprint.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

Update cli/bpmetadata/main.go
  cli/bpmetadata/main.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

Update cli/cmd/blueprint.go
  cli/cmd/blueprint.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

typos and cmd name changes
  cli/bpmetadata/cmd.go
  cli/cmd/blueprint.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

feat:adds base commands for blueprint metadata
  cli/bpmetadata/cmd.go
  cli/bpmetadata/main.go
  cli/cmd/blueprint.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

feat: blueprint-test file logger
  infra/blueprint-test/pkg/utils/logger.go
  infra/blueprint-test/pkg/utils/logger_test.go
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Add POSTGRES_13 and _14
  dm/templates/cloud_sql/cloud_sql.py.schema
Owners: @ocsig, @sjvanrossum

feat: adding one blueprint
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

chore: add ci for vod blueprint with a fixed test project
  infra/terraform/test-org/ci-triggers/locals.tf
  infra/terraform/test-org/ci-triggers/triggers.tf
  infra/terraform/test-org/org/locals.tf
  infra/terraform/test-org/org/outputs.tf
  infra/terraform/test-org/org/projects.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

rootPassword also valid for postgres
  dm/templates/cloud_sql/cloud_sql.py.schema
Owners: @ocsig, @sjvanrossum

typo in rootPassword description
  dm/templates/cloud_sql/cloud_sql.py.schema
Owners: @ocsig, @sjvanrossum

update databaseVersion description
  dm/templates/cloud_sql/cloud_sql.py.schema
Owners: @ocsig, @sjvanrossum

chore: add log-analysis blueprint to CI (#1239)
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update tools to 1.5.13
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update Tools to 1.5.13 (#1231)
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat:initial flow and type for bpmetadata export
  cli/bpmetadata/cmd.go
  cli/bpmetadata/repo.go
  cli/bpmetadata/repo_test.go
  cli/bpmetadata/types.go
  cli/util/git.go
  cli/util/git_test.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

chore: add CI for vod blueprint with a fixed test project (#1240)
  infra/terraform/test-org/ci-triggers/locals.tf
  infra/terraform/test-org/ci-triggers/triggers.tf
  infra/terraform/test-org/org/locals.tf
  infra/terraform/test-org/org/outputs.tf
  infra/terraform/test-org/org/projects.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

updated types
  cli/bpmetadata/cmd.go
  cli/bpmetadata/repo.go
  cli/bpmetadata/types.go
  cli/go.mod
  cli/go.sum
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

Add terraform-google-media-cdn-vod to test-org
  infra/terraform/test-org/org/locals.tf
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

feat:initial flow and type for bpmetadata export (#1241)
  cli/bpmetadata/cmd.go
  cli/bpmetadata/repo.go
  cli/bpmetadata/repo_test.go
  cli/bpmetadata/types.go
  cli/go.mod
  cli/go.sum
  cli/util/git.go
  cli/util/git_test.go
Owners: @bharathkkb, @kaariger, @g-awmalik, @apeabody

fix: exempt mp4 files from check_whitespace
  infra/build/developer-tools/build/scripts/task_helper_functions.sh
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update task_helper_functions.sh
  infra/build/developer-tools/build/scripts/task_helper_functions.sh
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

fix: exempt mp4 files from whitespace and newline (#1244)
  infra/build/developer-tools/build/scripts/task_helper_functions.sh
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update tools to 1.5.14
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody

Update Tools to 1.5.14 (#1242)
  infra/build/Makefile
Owners: @bharathkkb, @ocsig, @kaariger, @g-awmalik, @apeabody
